body{
  
  
    background-image: url('https://img.freepik.com/premium-photo/old-newspaper-background-light-grunge-paper-texture-blank-textured-pattern-space-text_875825-51468.jpg');
  background-repeat: no-repeat;          /* Don’t repeat the image */
  background-size: cover;               /* Scale image to cover entire area */
  background-position: center center;  /* Center the image */
  background-attachment: fixed;
}
#landing{
    width:40%;
    margin: auto;
    text-align: center;
    font-size: 150%;
}
h1{
    color: rgb(77, 15, 15);
    justify-content: center;
}
h2{
    color: rgb(32, 31, 31);
}
#news-container h2{
    text-decoration: underline;
    text-align: center;
}
#news-container h2:hover{
    font-weight: bolder;
}
#news-container{
    width: 90%;
    margin:auto;
}
img{
    width: 40%;
    height: auto;
      display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 80%;
}
img:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
}
#link{
    text-align: center;
}
#link:hover{
    transform: scale(1.1);
    font-weight: bolder;
}
#card{
    border-width: 3px;
}
select{
    background-color: white;
    border-radius: 24px;
    height: 40px;
    size: 150%;
    text-align: center;
}
select:hover{
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
}
hr{
    height: 2px;
    background-color: rgb(77, 15, 15);
}
#home{
    width:40px;
    height:40px;
    border-radius: 100%;
    background-color: rgb(225, 235, 235);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom:20px;
    left:10px;
}